{{>header}}
    <main>
        <p>This site is created by Alen Vlahovljak. It uses data from
            mapbox.com and darksky.net!
        </p>
        <img class="portrait" src="/img/me.jpg">
    </main>
{{>footer}}